<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.kangderui.mapper.SalaryDetailMapper">
    
    <resultMap type="SalaryDetail" id="SalaryDetailResult">
        <result property="salaryDetailId"    column="salary_detail_id"    />
        <result property="userId"    column="user_id"    />
        <result property="nickName"    column="nick_name"    />
        <result property="bankCardNumber"    column="bank_card_number"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="salaryPeriod"    column="salary_period"    />
        <result property="basicSalary"    column="basic_salary"    />
        <result property="basicDailySalary"    column="basic_daily_salary"    />
        <result property="basicWorkDays"    column="basic_work_days"    />
        <result property="basicSubtotal"    column="basic_subtotal"    />
        <result property="allowanceFullAttendance"    column="allowance_full_attendance"    />
        <result property="allowanceSafety"    column="allowance_safety"    />
        <result property="allowanceSeniority"    column="allowance_seniority"    />
        <result property="allowancePosition"    column="allowance_position"    />
        <result property="allowanceFloating"    column="allowance_floating"    />
        <result property="allowanceConfidentiality"    column="allowance_confidentiality"    />
        <result property="allowanceTransportation"    column="allowance_transportation"    />
        <result property="allowanceSpecialCertificate"    column="allowance_special_certificate"    />
        <result property="allowanceHoliday"    column="allowance_holiday"    />
        <result property="allowancePerformance"    column="allowance_performance"    />
        <result property="allowanceSafetyTraining"    column="allowance_safety_training"    />
        <result property="allowanceAssessment"    column="allowance_assessment"    />
        <result property="overtimeDays"    column="overtime_days"    />
        <result property="overtimeAmount"    column="overtime_amount"    />
        <result property="overtimeMidShiftDays"    column="overtime_mid_shift_days"    />
        <result property="overtimeMidShiftAmount"    column="overtime_mid_shift_amount"    />
        <result property="overtimeNightShiftDays"    column="overtime_night_shift_days"    />
        <result property="overtimeNightShiftAmount"    column="overtime_night_shift_amount"    />
        <result property="allowanceSubtotal"    column="allowance_subtotal"    />
        <result property="totalEarnings"    column="total_earnings"    />
        <result property="deductionDiscipline"    column="deduction_discipline"    />
        <result property="deductionTax"    column="deduction_tax"    />
        <result property="deductionHousingFund"    column="deduction_housing_fund"    />
        <result property="deductionInsurance"    column="deduction_insurance"    />
        <result property="deductionWithhold"    column="deduction_withhold"    />
        <result property="deductionSubtotal"    column="deduction_subtotal"    />
        <result property="netSalary"    column="net_salary"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSalaryDetailVo">
        select salary_detail_id, user_id, nick_name, bank_card_number, dept_id, dept_name, salary_period, basic_salary, basic_daily_salary, basic_work_days, basic_subtotal, allowance_full_attendance, allowance_safety, allowance_seniority, allowance_position, allowance_floating, allowance_confidentiality, allowance_transportation, allowance_special_certificate, allowance_holiday, allowance_performance, allowance_safety_training, allowance_assessment, overtime_days, overtime_amount, overtime_mid_shift_days, overtime_mid_shift_amount, overtime_night_shift_days, overtime_night_shift_amount, allowance_subtotal, total_earnings, deduction_discipline, deduction_tax, deduction_housing_fund, deduction_insurance, deduction_withhold, deduction_subtotal, net_salary, create_time, create_by, update_by, update_time, remark from salary_detail
    </sql>

    <select id="selectSalaryDetailList" parameterType="SalaryDetail" resultMap="SalaryDetailResult">
        <include refid="selectSalaryDetailVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="bankCardNumber != null  and bankCardNumber != ''"> and bank_card_number = #{bankCardNumber}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="deptName != null  and deptName != ''"> and dept_name like concat('%', #{deptName}, '%')</if>
            <if test="salaryPeriod != null  and salaryPeriod != ''"> and salary_period = #{salaryPeriod}</if>
            <if test="basicSalary != null "> and basic_salary = #{basicSalary}</if>
            <if test="basicDailySalary != null "> and basic_daily_salary = #{basicDailySalary}</if>
            <if test="basicWorkDays != null "> and basic_work_days = #{basicWorkDays}</if>
            <if test="basicSubtotal != null "> and basic_subtotal = #{basicSubtotal}</if>
            <if test="allowanceFullAttendance != null "> and allowance_full_attendance = #{allowanceFullAttendance}</if>
            <if test="allowanceSafety != null "> and allowance_safety = #{allowanceSafety}</if>
            <if test="allowanceSeniority != null "> and allowance_seniority = #{allowanceSeniority}</if>
            <if test="allowancePosition != null "> and allowance_position = #{allowancePosition}</if>
            <if test="allowanceFloating != null "> and allowance_floating = #{allowanceFloating}</if>
            <if test="allowanceConfidentiality != null "> and allowance_confidentiality = #{allowanceConfidentiality}</if>
            <if test="allowanceTransportation != null "> and allowance_transportation = #{allowanceTransportation}</if>
            <if test="allowanceSpecialCertificate != null "> and allowance_special_certificate = #{allowanceSpecialCertificate}</if>
            <if test="allowanceHoliday != null "> and allowance_holiday = #{allowanceHoliday}</if>
            <if test="allowancePerformance != null "> and allowance_performance = #{allowancePerformance}</if>
            <if test="allowanceSafetyTraining != null "> and allowance_safety_training = #{allowanceSafetyTraining}</if>
            <if test="allowanceAssessment != null "> and allowance_assessment = #{allowanceAssessment}</if>
            <if test="overtimeDays != null "> and overtime_days = #{overtimeDays}</if>
            <if test="overtimeAmount != null "> and overtime_amount = #{overtimeAmount}</if>
            <if test="overtimeMidShiftDays != null "> and overtime_mid_shift_days = #{overtimeMidShiftDays}</if>
            <if test="overtimeMidShiftAmount != null "> and overtime_mid_shift_amount = #{overtimeMidShiftAmount}</if>
            <if test="overtimeNightShiftDays != null "> and overtime_night_shift_days = #{overtimeNightShiftDays}</if>
            <if test="overtimeNightShiftAmount != null "> and overtime_night_shift_amount = #{overtimeNightShiftAmount}</if>
            <if test="allowanceSubtotal != null "> and allowance_subtotal = #{allowanceSubtotal}</if>
            <if test="totalEarnings != null "> and total_earnings = #{totalEarnings}</if>
            <if test="deductionDiscipline != null "> and deduction_discipline = #{deductionDiscipline}</if>
            <if test="deductionTax != null "> and deduction_tax = #{deductionTax}</if>
            <if test="deductionHousingFund != null "> and deduction_housing_fund = #{deductionHousingFund}</if>
            <if test="deductionInsurance != null "> and deduction_insurance = #{deductionInsurance}</if>
            <if test="deductionWithhold != null "> and deduction_withhold = #{deductionWithhold}</if>
            <if test="deductionSubtotal != null "> and deduction_subtotal = #{deductionSubtotal}</if>
            <if test="netSalary != null "> and net_salary = #{netSalary}</if>
        </where>
        order by (case when remark = '1' then 1 else 0 end) asc, salary_detail_id desc
    </select>
    
    <select id="selectSalaryDetailBySalaryDetailId" parameterType="Long" resultMap="SalaryDetailResult">
        <include refid="selectSalaryDetailVo"/>
        where salary_detail_id = #{salaryDetailId}
    </select>

    <insert id="insertSalaryDetail" parameterType="SalaryDetail" useGeneratedKeys="true" keyProperty="salaryDetailId">
        insert into salary_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="nickName != null and nickName != ''">nick_name,</if>
            <if test="bankCardNumber != null">bank_card_number,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="deptName != null">dept_name,</if>
            <if test="salaryPeriod != null">salary_period,</if>
            <if test="basicSalary != null">basic_salary,</if>
            <if test="basicDailySalary != null">basic_daily_salary,</if>
            <if test="basicWorkDays != null">basic_work_days,</if>
            <if test="basicSubtotal != null">basic_subtotal,</if>
            <if test="allowanceFullAttendance != null">allowance_full_attendance,</if>
            <if test="allowanceSafety != null">allowance_safety,</if>
            <if test="allowanceSeniority != null">allowance_seniority,</if>
            <if test="allowancePosition != null">allowance_position,</if>
            <if test="allowanceFloating != null">allowance_floating,</if>
            <if test="allowanceConfidentiality != null">allowance_confidentiality,</if>
            <if test="allowanceTransportation != null">allowance_transportation,</if>
            <if test="allowanceSpecialCertificate != null">allowance_special_certificate,</if>
            <if test="allowanceHoliday != null">allowance_holiday,</if>
            <if test="allowancePerformance != null">allowance_performance,</if>
            <if test="allowanceSafetyTraining != null">allowance_safety_training,</if>
            <if test="allowanceAssessment != null">allowance_assessment,</if>
            <if test="overtimeDays != null">overtime_days,</if>
            <if test="overtimeAmount != null">overtime_amount,</if>
            <if test="overtimeMidShiftDays != null">overtime_mid_shift_days,</if>
            <if test="overtimeMidShiftAmount != null">overtime_mid_shift_amount,</if>
            <if test="overtimeNightShiftDays != null">overtime_night_shift_days,</if>
            <if test="overtimeNightShiftAmount != null">overtime_night_shift_amount,</if>
            <if test="allowanceSubtotal != null">allowance_subtotal,</if>
            <if test="totalEarnings != null">total_earnings,</if>
            <if test="deductionDiscipline != null">deduction_discipline,</if>
            <if test="deductionTax != null">deduction_tax,</if>
            <if test="deductionHousingFund != null">deduction_housing_fund,</if>
            <if test="deductionInsurance != null">deduction_insurance,</if>
            <if test="deductionWithhold != null">deduction_withhold,</if>
            <if test="deductionSubtotal != null">deduction_subtotal,</if>
            <if test="netSalary != null">net_salary,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="nickName != null and nickName != ''">#{nickName},</if>
            <if test="bankCardNumber != null">#{bankCardNumber},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="deptName != null">#{deptName},</if>
            <if test="salaryPeriod != null">#{salaryPeriod},</if>
            <if test="basicSalary != null">#{basicSalary},</if>
            <if test="basicDailySalary != null">#{basicDailySalary},</if>
            <if test="basicWorkDays != null">#{basicWorkDays},</if>
            <if test="basicSubtotal != null">#{basicSubtotal},</if>
            <if test="allowanceFullAttendance != null">#{allowanceFullAttendance},</if>
            <if test="allowanceSafety != null">#{allowanceSafety},</if>
            <if test="allowanceSeniority != null">#{allowanceSeniority},</if>
            <if test="allowancePosition != null">#{allowancePosition},</if>
            <if test="allowanceFloating != null">#{allowanceFloating},</if>
            <if test="allowanceConfidentiality != null">#{allowanceConfidentiality},</if>
            <if test="allowanceTransportation != null">#{allowanceTransportation},</if>
            <if test="allowanceSpecialCertificate != null">#{allowanceSpecialCertificate},</if>
            <if test="allowanceHoliday != null">#{allowanceHoliday},</if>
            <if test="allowancePerformance != null">#{allowancePerformance},</if>
            <if test="allowanceSafetyTraining != null">#{allowanceSafetyTraining},</if>
            <if test="allowanceAssessment != null">#{allowanceAssessment},</if>
            <if test="overtimeDays != null">#{overtimeDays},</if>
            <if test="overtimeAmount != null">#{overtimeAmount},</if>
            <if test="overtimeMidShiftDays != null">#{overtimeMidShiftDays},</if>
            <if test="overtimeMidShiftAmount != null">#{overtimeMidShiftAmount},</if>
            <if test="overtimeNightShiftDays != null">#{overtimeNightShiftDays},</if>
            <if test="overtimeNightShiftAmount != null">#{overtimeNightShiftAmount},</if>
            <if test="allowanceSubtotal != null">#{allowanceSubtotal},</if>
            <if test="totalEarnings != null">#{totalEarnings},</if>
            <if test="deductionDiscipline != null">#{deductionDiscipline},</if>
            <if test="deductionTax != null">#{deductionTax},</if>
            <if test="deductionHousingFund != null">#{deductionHousingFund},</if>
            <if test="deductionInsurance != null">#{deductionInsurance},</if>
            <if test="deductionWithhold != null">#{deductionWithhold},</if>
            <if test="deductionSubtotal != null">#{deductionSubtotal},</if>
            <if test="netSalary != null">#{netSalary},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSalaryDetail" parameterType="SalaryDetail">
        update salary_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="nickName != null and nickName != ''">nick_name = #{nickName},</if>
            <if test="bankCardNumber != null">bank_card_number = #{bankCardNumber},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="deptName != null">dept_name = #{deptName},</if>
            <if test="salaryPeriod != null">salary_period = #{salaryPeriod},</if>
            <if test="basicSalary != null">basic_salary = #{basicSalary},</if>
            <if test="basicDailySalary != null">basic_daily_salary = #{basicDailySalary},</if>
            <if test="basicWorkDays != null">basic_work_days = #{basicWorkDays},</if>
            <if test="basicSubtotal != null">basic_subtotal = #{basicSubtotal},</if>
            <if test="allowanceFullAttendance != null">allowance_full_attendance = #{allowanceFullAttendance},</if>
            <if test="allowanceSafety != null">allowance_safety = #{allowanceSafety},</if>
            <if test="allowanceSeniority != null">allowance_seniority = #{allowanceSeniority},</if>
            <if test="allowancePosition != null">allowance_position = #{allowancePosition},</if>
            <if test="allowanceFloating != null">allowance_floating = #{allowanceFloating},</if>
            <if test="allowanceConfidentiality != null">allowance_confidentiality = #{allowanceConfidentiality},</if>
            <if test="allowanceTransportation != null">allowance_transportation = #{allowanceTransportation},</if>
            <if test="allowanceSpecialCertificate != null">allowance_special_certificate = #{allowanceSpecialCertificate},</if>
            <if test="allowanceHoliday != null">allowance_holiday = #{allowanceHoliday},</if>
            <if test="allowancePerformance != null">allowance_performance = #{allowancePerformance},</if>
            <if test="allowanceSafetyTraining != null">allowance_safety_training = #{allowanceSafetyTraining},</if>
            <if test="allowanceAssessment != null">allowance_assessment = #{allowanceAssessment},</if>
            <if test="overtimeDays != null">overtime_days = #{overtimeDays},</if>
            <if test="overtimeAmount != null">overtime_amount = #{overtimeAmount},</if>
            <if test="overtimeMidShiftDays != null">overtime_mid_shift_days = #{overtimeMidShiftDays},</if>
            <if test="overtimeMidShiftAmount != null">overtime_mid_shift_amount = #{overtimeMidShiftAmount},</if>
            <if test="overtimeNightShiftDays != null">overtime_night_shift_days = #{overtimeNightShiftDays},</if>
            <if test="overtimeNightShiftAmount != null">overtime_night_shift_amount = #{overtimeNightShiftAmount},</if>
            <if test="allowanceSubtotal != null">allowance_subtotal = #{allowanceSubtotal},</if>
            <if test="totalEarnings != null">total_earnings = #{totalEarnings},</if>
            <if test="deductionDiscipline != null">deduction_discipline = #{deductionDiscipline},</if>
            <if test="deductionTax != null">deduction_tax = #{deductionTax},</if>
            <if test="deductionHousingFund != null">deduction_housing_fund = #{deductionHousingFund},</if>
            <if test="deductionInsurance != null">deduction_insurance = #{deductionInsurance},</if>
            <if test="deductionWithhold != null">deduction_withhold = #{deductionWithhold},</if>
            <if test="deductionSubtotal != null">deduction_subtotal = #{deductionSubtotal},</if>
            <if test="netSalary != null">net_salary = #{netSalary},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where salary_detail_id = #{salaryDetailId}
    </update>

    <delete id="deleteSalaryDetailBySalaryDetailId" parameterType="Long">
        delete from salary_detail where salary_detail_id = #{salaryDetailId}
    </delete>

    <delete id="deleteSalaryDetailBySalaryDetailIds" parameterType="String">
        delete from salary_detail where salary_detail_id in 
        <foreach item="salaryDetailId" collection="array" open="(" separator="," close=")">
            #{salaryDetailId}
        </foreach>
    </delete>
</mapper>